@media (min-width: 768px)
	.dynamic_scroll
		$p: 30px 0
		position: sticky
		top: var(--offset, 0)
		max-height: 100vh
		margin: -$p
		padding: $p
		overflow: scroll
		.page-profile &
			z-index: 10
		&::-webkit-scrollbar
			display: none
	.page-profile .dynamic_scroll
		top: 2rem

.js-position-sticky
	z-index: auto !important

.BtrGH_npm
	summary svg
		fill: var(--color-btn-text)
	.npm_text
		margin-bottom: .5rem

//R


.BtrGH_btn
	position: relative
	padding: 3px 10px
	color: var(--color-fg-default)
	background-color: var(--color-btn-bg)
	border: 1px solid var(--color-btn-border)
	border-left-width: 0
	&:hover
		text-decoration: none
	&:first-of-type
		border-left-width: 1px
		border-radius: 6px 0 0 6px
	&:last-of-type
		border-radius: 0 6px 6px 0
